.jsirontable{
	
    width: 100%;
    display: flex;
    flex-flow:column nowrap;
    overflow: hidden;
}
.jsit_row {
	flex: 1;
    display: flex;  
    max-height: 57px;
}
.jsit_cell, .jsit_head {
	border: 1px solid #999999;
	position: relative;
    padding: 3px 22px 3px 10px;
    min-height: 20px;
    word-break: break-word;
    flex-flow:column nowrap;
    flex: 1; /* Must be none with defined cell width for each one */
}

.jsit_cell span, .jsit_head span {	
    overflow: hidden;
    max-height: 1.1em;
    display: block;
    /*margin-right: 30px;*/
}
.jsit_cell span:after, .jsit_head span:after {	
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.jsit_heading {
	background-color: #EEE;
	flex: none;
    display: flex; 
}
.jsit_foot {
	background-color: #EEE;
	
	font-weight: bold;
}
.jsit_body {
	flex: 1;
    display: flex; 
    flex-flow:column nowrap;
}

.jsit_hiddencol
{
    display: none;
}
.jsit_fixedheader
{
    
}
.jsit_scrollbody
{    
    overflow-y: auto;
}
.jsit_sortheader
{
    cursor: pointer;
}

.jsit_columnSelector:hover
{
    border-right: 2px solid #9578ff;
}

.jsit_noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.emptytable
{
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #999999;
    padding: 10px;
    text-align: center;
}

.jsit_loader_container
{
    overflow: hidden;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #999999;
    padding: 10px;
}

.jsit_loader {
    overflow: hidden;
    position: relative;  
    margin: 0px auto;  
    margin-top: 40px;
    margin-bottom: 40px;
    border: 8px solid #eaeaea;
    border-radius: 50%;
    border-top: 8px solid #444444;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.jsit_ordericon
{
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 20px;
    color: #828282;   
}

/*
.jsirontable{
	display: table;
	width: 100%;
}
.jsit_row {
	display: table-row;
}
.jsit_cell, .jsit_head {
	border: 1px solid #999999;
	display: table-cell;
    padding: 3px 10px;
    min-height: 20px;
    word-break: break-word;
}

.jsit_cell span, .jsit_head span {	
    overflow: hidden;
    max-height: 1.1em;
    display: block;
}
.jsit_cell span:after, .jsit_head span:after {	
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.jsit_heading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.jsit_foot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.jsit_body {
	display: table-row-group;
}

.jsit_hiddencol
{
    display: none;
}
.jsit_fixedheader
{
    
}*/